.header
	.header__logo 
		a.header__logo-link(href="#") #ISV-LOGO
	nav.header__nav
		ul.header__menu
			li.header__menu-item
				a.header__menu-link(href="#") Пункт 1
			li.header__menu-item
				a.header__menu-link(href="#") Пункт 2
			li.header__menu-item
				a.header__menu-link(href="#") Пункт 3
			li.header__menu-item
				a.header__menu-link(href="#") Пункт 4
			li.header__menu-item
				a.header__menu-link(href="#") Пункт 5
	.header__buttons
		button.header__btn Кнопка 1
		button.header__btn Кнопка 2
	.header__burger
		span.header__burger-line
